<p>
  <%= history.created_at.to_s.slice!(0..9) %>
  <% if history.user.nil? %>
    Anonymous
  <% else %>
    <%= history.user.user_name %>
  <% end %>



  <strong>Note: </strong>
  <%= history.note %>

  <%= link_to 'Destroy History', [history.proposal, history],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>